{% extends 'layout.html' %}

{% block content %}
    <div class="container">
      <div class="content__body">
        <aside class="content__aside aside">
          <header class="aside__header">
            Men
          </header>
          <ul class="aside__list">
            <li class="aside__list-item aside__list-item--empty">
              <a href="#">New Arrivals</a>
            </li>
            <li class="aside__list-item aside__list-item--empty">
              <a href="#">Wedding Collection</a>
            </li>
            <li class="aside__list-item">
              <a href="#">Rent By Style</a>
              <ul class="aside__sublist">
                <li><a href="#">Kurta Pyjama Sets</a></li>
                <li><a href="#">Westerns Jackets</a></li>
                <li><a href="#">Neharu Jackets</a></li>
              </ul>
            </li>
            <li class="aside__list-item aside__list-item--em">
              <a href="#">Customfitted</a>
              <ul class="aside__sublist">
                <li><a href="#">Suits</a></li>
                <li><a href="#">Tux</a></li>
                <li><a href="#">Sherwani</a></li>
                <li><a href="#">Bandhgala Jacket</a></li>
                <li><img src="" alt="" /></li>
              </ul>
            </li>
            <li class="aside__list-item">
              <a href="#">Accessories</a>
              <ul class="aside__sublist">
                <li><a href="#">Safa</a></li>
                <li><a href="#">Mala</a></li>
                <li><a href="#">Cuff Links</a></li>
                <li><a href="#">Ties</a></li>
              </ul>
            </li>
            <li class="aside__list-item">
              <a href="#">Rent By Brands</a>
              <ul class="aside__sublist">
                <li><a href="#">ASOS</a></li>
                <li><a href="#">Dorothy Perkins</a></li>
                <li><a href="#">Mango</a></li>
                <li><a href="#">Vero Moda</a></li>
                <li><a href="#">Zabel</a></li>
              </ul>
            </li>
            <li class="aside__list-item">
              <a href="#">Rent By Designers</a>
              <ul class="aside__sublist">
                <li><a href="#">Anita Dongre Timeless</a></li>
                <li><a href="#">Kalki</a></li>
                <li><a href="#">Outhouse</a></li>
              </ul>
            </li>
          </ul>
        </aside>
        <section class="content__section">
          <div class="img-placeholder img-placeholder__rect1x0p6 margin-bottom-20 banner"></div>
          <div class="flex__row how-it-works">
            <figure class="figure flex-sm-100 flex-lg-25">
              <div class="img-placeholder img-placeholder__40"></div>
              <figcaption class="figure__caption">
                <h2>RENT</h2>
                <span>Browse & order online. Shedule delivery for later date.</span>
              </figcaption>
            </figure>
            <figure class="figure flex-sm-100 flex-lg-25">
              <div class="img-placeholder img-placeholder__40"></div>
              <figcaption class="figure__caption">
                <h2>WEAR</h2>
                <span>Own the dress for 4, 6 or 8 days. Flaunt your designer look.</span>
              </figcaption>
            </figure>
            <figure class="figure flex-sm-100 flex-lg-25">
              <div class="img-placeholder img-placeholder__40"></div>
              <figcaption class="figure__caption">
                <h2>RETURN</h2>
                <span>Free, easy pickup at your convenient time.</span>
              </figcaption>
            </figure>
          </div>
          <div class="bundle bundle__categories">
            <div class="flex__row flex-space">
              <div class="flex__item flex-sm-50 flex-lg-50">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__square"></div>
                  <figcaption class="figure__caption figure__caption--center">
                    <h2>western</h2>
                    <span>RENT NOW</span>
                  </figcaption>
                </figure>
              </div>
              <div class="flex__item flex-sm-50 flex-lg-50">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__square"></div>
                  <figcaption class="figure__caption figure__caption--center">
                    <h2>ethnic</h2>
                    <span>RENT NOW</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="bundle">
            <div class="flex__row flex-space">
              <div class="flex__column flex-sm-100 flex-lg-33">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                  <figcaption class="figure__caption">
                    <h2>The Finest Ethnic Style</h2>
                    <span>New Season Collection</span>
                  </figcaption>
                </figure>
              </div>
              <div class="flex__column flex-sm-100 flex-lg-33">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                  <figcaption class="figure__caption">
                    <h2>Look Good This Season</h2>
                    <span>Up To 20% off</span>
                  </figcaption>
                </figure>
              </div>
              <div class="flex__column flex-sm-100 flex-lg-33">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                  <figcaption class="figure__caption">
                    <h2>Summer is Calling</h2>
                    <span>Latest Fusion Workwear</span>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="bundle">
            <div class="flex__row flex-space">
              <div class="flex__item flex-sm-100 flex-lg-75 bundle__trends">
                <header class="bundle__header"><h2>TRENDS</h2></header>
                <div class="flex__row flex-space">
                  <div class="flex__item flex-sm-100 flex-lg-33">
                    <div class="flex__row flex-space">
                      <figure class="figure flex__item flex-sm-50 flex-lg-100">
                        <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                        <figcaption class="figure__caption">
                          <h2>Swimwear</h2>
                          <span>Make the best kind of splash</span>
                        </figcaption>
                      </figure>
                      <figure class="figure flex__item flex-sm-50 flex-lg-100">
                        <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                        <figcaption class="figure__caption">
                          <h2>Bridal</h2>
                          <span>Make the best kind of splash</span>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                  <div class="flex__item flex-sm-100 flex-lg-66">
                    <figure class="figure">
                      <div class="img-placeholder img-placeholder__rect1x1p46"></div>
                      <figcaption class="figure__caption">
                        <h2>Trend: vintage ruffles</h2>
                        <span>What, this old thing?</span>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="flex__item flex-sm-100 flex-lg-25">
                <header class="bundle__header"><h2>FEEDS</h2></header>
                <div class="flex__row flex-space">
                  <figure class="figure flex__item flex-sm-50 flex-lg-100">
                    <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                    <figcaption class="figure__caption">
                      <h2>Summer is Calling</h2>
                      <span>Latest Fusion Workwear</span>
                    </figcaption>
                  </figure>
                  <figure class="figure flex__item flex-sm-50 flex-lg-100">
                    <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                    <figcaption class="figure__caption">
                      <h2>Love Camera Action</h2>
                      <span>Latest Fusion Workwear</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="bundle">
            <header class="bundle__header"><h2>Rent By Products</h2><span>We're going to make this real easy for you</span></header>
            <div class="flex__row flex-space">
              <div class="flex__column flex-sm-50 flex-lg-25">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                  <figcaption class="figure__caption">
                    <h2>Top & Skirts</h2>
                  </figcaption>
                </figure>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                  <figcaption class="figure__caption">
                    <h2>Day Out</h2>
                  </figcaption>
                </figure>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                  <figcaption class="figure__caption">
                    <h2>Wedding</h2>
                  </figcaption>
                </figure>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <figure class="figure">
                  <div class="img-placeholder img-placeholder__rect1x1p4"></div>
                  <figcaption class="figure__caption">
                    <h2>Date</h2>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="bundle bundle__designers">
            <header class="bundle__header"><h2>TOP DESIGNERS</h2></header>
            <div class="flex__row margin-bottom-20">
              <div class="flex__item flex-sm-100 flex-lg-50">
                <div class="img-placeholder img-placeholder__rect1x0p5"></div>
              </div>
              <div class="flex__item flex-sm-100 flex-lg-50">
                <div class="img-placeholder img-placeholder__rect1x0p5 col-2"></div>
              </div>
              <div class="flex__item flex-sm-100 flex-lg-50">
                <div class="img-placeholder img-placeholder__rect1x0p5 col-2"></div>
              </div>
              <div class="flex__item flex-sm-100 flex-lg-50">
                <div class="img-placeholder img-placeholder__rect1x0p5"></div>
              </div>
            </div>
          </div>
          <div class="bundle__instagram">
            <header class="bundle__header">
              <h2>INSTAGRAM</h2>
              <span>Rent your favorite photos and share your pics to be featured on our site adding #flyrobe</span>
            </header>
            <div class="flex__row margin-bottom-20">
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square"></div>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square col-2"></div>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square"></div>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square col-2"></div>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square col-2"></div>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square"></div>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square col-2"></div>
              </div>
              <div class="flex__column flex-sm-50 flex-lg-25">
                <div class="img-placeholder img-placeholder__square"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}
