.header{
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
  &__top{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    li + li{
      margin-left: 15px;
    }
    a{
      color: rgba(0, 0, 0, 0.7);
      @include transition(color 0.2s ease-out);
      &:hover{
        color: #000;
      }
    }
    @media screen and ( max-width : 767px ) {
      display: none;
    }
  }
  //states
  &.header--sticky{
    position: fixed;
    top: -80px;
    z-index: 1001;
    .navbar__logo{
      margin-left: 0;
      left: 25px;
      @include translate(0, 45px);
    }
  }
  @media screen and ( max-width : 767px ) {
    &.header-sm-fixed{
      position: fixed;
      top: 0;
      z-index: 1001;
      .navbar__logo{
        margin-left: -55px;
        left: 50%;
        @include translate(0, 0);
      }
    }
  }
}
